@charset "UTF-8";

*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}
body {
    background: url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
  
}
main {
    height: 100vh;
    position: relative;
   
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
  
    background: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat; }

    iframe#tela {
        position: relative;
        top: 80px;
        left: 22px;
        height: 471px;
        width: 269px;
    }

    #redes-sociais img {
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.445);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    #redes-sociais a {
        display: flex;
        justify-content: flex-end;

    }
    #redes-sociais {
        margin-right: 5px;
        padding-top: 10px;
    }
    #redes-sociais img:hover {
        border: 2px solid rgba(255, 255, 255, 0.712);
    }
    @media only screen  and (max-width:500px) {
       section#redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;

       }
       #redes-sociais img {
        width: 30px;
        
        
       }

    }

   